.success {
  background: #009200;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.failure {
  background: #920000;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
}
